<h1>all todos list</h1>

<ul>
{{#each allTodos as |todo|}}
  {{#unless todo.completed}}
  <li>
    <h4>{{todo.name}}</h4>
    <p>
      {{todo.description}} - {{todo.completed}}
    </p>

    <form action="/todos/{{ todo.id }}?_method=put" method="post">
      <button>Done!</button>
    </form>
    <form action="/todos/{{ todo.id }}?_method=delete" method="post">
      <button>Delete!</button>
    </form>
  </li>
  {{/unless}}
{{/each}}
</ul>

<form action="/todos" method="post">
  <label for=""></label>
  <input type="text" name="" id="" value="">
</form>
